---
const { project } = Astro.props;
---
<style>
    .project-item {
        flex: 1;
        background-color: #f9f9f9;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .project-item h3 {
        margin: 0 0 10px;
        font-size: 1.4em;
    }

    .project-item p {
        margin: 5px 0 10px;
        color: #666;
    }

    .project-item a {
        color: #007bff;
        text-decoration: none;
    }

    .project-item a:hover {
        text-decoration: underline;
    }

    .tech-used {
        display: flex;
        align-items: center;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .tech-item {
        display: flex;
        align-items: center;
        margin-right: 12px;
        margin-bottom: 8px;
    }

    .tech-dot {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
    }

    .tech-used p {
        margin: 0;
        line-height: 12px;
        display: inline-block;
        vertical-align: middle;
    }

    /* Technology colors */
    .tech-unity { background-color: #222C37; }
    .tech-reactjs { background-color: #61DAFB; }
    .tech-typescript { background-color: #3178C6; }
    .tech-docker { background-color: #2496ED; }
    .tech-django { background-color: #092E20; }
    .tech-swiftui { background-color: #FA7343; }
    .tech-sql { background-color: #E38C00; }
    .tech-java { background-color: #007396; }
    .tech-eclipse { background-color: #2C2255; }
    .tech-jdgui { background-color: #D4380D; }
    .tech-recaf { background-color: #23D160; }
    .tech-springboot { background-color: #6DB33F; }
    .tech-nginx { background-color: #009639; }
    .tech-csharp { background-color: #e32b2b; }
    .tech-eclipsemat { background-color: #5bdcd2; }
    .tech-detectron2 { background-color: #4be6ea; }
    .tech-celery { background-color: #85d785; }

    a:hover, a:visited, a:link, a:active {
        color: black;
        text-decoration: none;
    }

    img {
        border-radius: 8px;
        width: 100%;
    }
</style>

<div class="project-item">
    { project.link ? (
            <a href={project.link} target="_blank" rel="noopener noreferrer">
                <h3>{project.title}</h3>
                <p>{project.description}</p>
                <img src={project.imgUrl} />
                <div class="tech-used">
                    {project.tech.map((tech: string) => (
                            <div class="tech-item">
                                <span class={`tech-dot tech-${tech.toLowerCase()}`}></span>
                                <p>{tech}</p>
                            </div>
                    ))}
                </div>
            </a>
    ) : (
            <>
                <h3>{project.title}</h3>
                <p>{project.description}</p>
                <img src={project.imgUrl} />
                <div class="tech-used">
                    {project.tech.map((tech: string) => (
                            <div class="tech-item">
                                <span class={`tech-dot tech-${tech.toLowerCase()}`}></span>
                                <p>{tech}</p>
                            </div>
                    ))}
                </div>
            </>
    )}
</div>
